// @use "bulma/sass/utilities/initial-variables";

// 600kb?!
@use "bulma";

:root {
  --bulma-primary-h: 203deg;
  --bulma-primary-s: 50%;
  --bulma-link-h: 244deg;
  --bulma-link-s: 50%;
  --bulma-info-h: 178deg;
  --bulma-info-s: 50%;
  --bulma-success-h: 140deg;
  --bulma-success-s: 50%;
  --bulma-warning-s: 50%;
  --bulma-danger-s: 50%;
}

$tuner-font-size: 24px;
$tuner-font-size-sml: 20px;



// Load Bulma's base styles and themes (including the minireset)
// @use "bulma/sass/base";
// light+dark adds 200kb?
// @use "bulma/sass/themes";

// Load other Bulma components
// @use "bulma/sass/elements/button";
// @use "bulma/sass/components/message";

// @use "bulma/sass/utilities/mixins";

// .bulma-fa-mixin {
//   @include mixins.fa(1rem, 2rem);
//   background-color: lavender; // For demo purposes
// }

.main-display {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
}

.overlay {
  position: relative;
  z-index: 100;
  font-size: $tuner-font-size;
}

.harmonics .button {
  @extend .is-large;
  width: 12em;
}

.harmonics .button .current {
  width: 100%;
  text-align: right;
}

.harmonics .dropdown-menu {
  width: 100%;
}

.harmonics label {
  @extend .dropdown-item;
  @extend .checkbox;
  width: 100%;
  font-size: $tuner-font-size-sml;
}

.harmonics label:hover {
  @extend a, .dropdown-item, :hover;
  // @extend a, .dropdown-item, .is-active;
  font-size: $tuner-font-size-sml;
}

.harmonics label input {
  width: 18px;
  height: 18px;
  // padding: 8px;
  margin-top: 10px;
  // float: right;
}

.status-row {
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: -1;
}

.status-text {
  // @include .column .is-8;
  @extend .column;
  @extend .is-8;
  font-family: monospace;
}
.status-text p {
  padding: 24px 12px;
}

.status-connect {
  @extend .column;
}

.status-connect .button {
  @extend .is-primary;
  @extend .is-large;
  float: right;
}

.status-connect .is-connected {
  @extend .is-success;
}